{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between mb-3">

    {% if user.role == 'ADMIN' %}
    <h5>All Events (Admin View)</h5>
    {% else %}
        <h5>My Events</h5>
        <div class="alert alert-info">
            You are viewing all system-wide statistics.
        </div>
    {% endif %}

    <h2>Events</h2>
    {% if user.role == 'STAFF' %}
    <a href="{% url 'create_event' %}" class="btn btn-primary">
        + Create Event
    </a>
    {% endif %}
    
</div>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h6>Total Events</h6>
                <h3>{{ total_events }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h6>Total Attendees</h6>
                <h3>{{ total_attendees }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h6>Active Events</h6>
                <h3>{{ active_events }}</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% for event in events %}
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">{{ event.venue }}</p>

                {% if event.is_active %}
                    <span class="badge bg-success">ACTIVE</span>
                {% else %}
                    <span class="badge bg-secondary">INACTIVE</span>
                {% endif %}

                <a href="{% url 'event_detail' event.id %}" class="btn btn-sm btn-outline-dark mt-2">
                    View
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

